{% extends 'content.html.twig' %}

{% block title %}{{ parent() }} - {{ location.name }}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="btn-toolbar float-right" role="toolbar" aria-label="{% trans %} Toolbar {% endtrans %}">
            <div class="btn-group mr-2" role="group" aria-label="{% trans %} Actions {% endtrans %}">
                <a href="{{ path('app_location_edit', {id: location.id}) }}" class="btn action btn-secondary">
                    <i class="fas fa-edit"></i>&nbsp;<span>{% trans %} Edit {% endtrans %}</span>
                </a>
            </div>
        </div>
        <h1><i class="fas fa-book"></i>&nbsp;{{ location.name }}</h1>
        {% if location.createdAt %}
            <p>
                <span class="badge badge-secondary">
                    {% trans with {'%createdAt%': location.createdAt | localizeddate()} %} Créé le %createdAt% {% endtrans %}
                </span>
            </p>
        {% endif %}

        <div class="btn-toolbar float-right" role="toolbar" aria-label="{% trans %} Toolbar {% endtrans %}">
            <div class="btn-group mr-2" role="group" aria-label="{% trans %} Actions {% endtrans %}">
                <a href="{{ path('app_recipe_new', {location: location.id}) }}"
                   class="btn action btn-secondary btn-">
                    <i class="fas fa-plus-circle"></i>&nbsp;<span>{% trans %} New {% endtrans %}</span>
                </a>
                <a href="{{ path('app_recipe_masscreate', {location: location.id}) }}"
                   class="btn action btn-mass-create btn-secondary">
                    <i class="fas fa-truck-loading"></i>&nbsp;<span>{% trans %} Mass create {% endtrans %}</span>
                </a>
            </div>
        </div>
        <h2 class="recipes"><i class="fas fa-pizza-slice"></i>&nbsp;{% trans %} Recipes {% endtrans %}</h2>

        <div class="datatables-container"
             data-datatables-settings="{{ datatable_settings(recipeDatatable) | e('html_attr') }}">
            {% trans %} Loading... {% endtrans %}
        </div>
    </div>
{% endblock %}
