{% extends 'content.html.twig' %}


{% block content %}
    {{ form_start(form) }}

    {% set saveBtn = form_widget(form.save) %}
    {% set saveAddMoreBtn = form_widget(form.saveAddMore) %}

    <div class="float-right">
        <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar">
            <div class="btn-group mr-2" role="group" aria-label="Actions">
                {{ saveBtn | raw }}
                {{ saveAddMoreBtn | raw }}
            </div>
        </div>
    </div>
    <h1><i class="fas fa-truck-loading"></i>&nbsp;{% trans %} New recipes... {% endtrans %}</h1>

    <div class="clearfix"></div>

    {{ form_errors(form) }}

    <div class="row">
        <div class="col-6">
            {{ form_label(form.location) }}
            {{ form_errors(form.location) }}
            {{ form_widget(form.location) }}
            {{ form_help(form.location) }}
        </div>
        <div class="col-6">
            {{ form_label(form.tags) }}
            {{ form_errors(form.tags) }}
            {{ form_widget(form.tags) }}
            {{ form_help(form.tags) }}
        </div>
    </div>
    <hr>
    {{ form_row(form.recipes) }}
    <hr>
    <div class="float-right">
        <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar">
            <div class="btn-group mr-2" role="group" aria-label="Actions">
                {{ saveBtn | raw }}
                {{ saveAddMoreBtn | raw }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
