{%  extends 'content.html.twig' %}


{% block content %}
    <div class="jumbotron">
        <div class="btn-toolbar float-right" role="toolbar" aria-label="{% trans %} Toolbar {% endtrans %}">
            <div class="btn-group mr-2" role="group" aria-label="{% trans %} Actions {% endtrans %}">
                <a href="{{ path('app_recipe_edit', {id: recipe.id}) }}" class="btn action edit btn-secondary">
                    <i class="fas fa-edit"></i>&nbsp;<span>{% trans %} Edit {% endtrans %}</span>
                </a>
            </div>
        </div>
        <h1><i class="fas fa-pizza-slice"></i>&nbsp;{{ recipe.name }}</h1>
        {% if recipe.location %}
            <p class="location lead" style="font-size: 2em">
            <div class="row">
                <div class="tags col col-6">
                    <a class="badge location" href="{{ path('app_location_show', {id: recipe.location.id}) }}">
                        {{ recipe.location.name }}
                    </a>
                </div>
                <div class="tags col col-6">
                    <span class="small">
                        {{ recipe.locationDetails }}
                    </span>
                </div>
            </div>
            </p>
        {% else %}
            <div class="alert alert-light" role="alert">{% trans %} No location defined. {% endtrans %}</div>
        {% endif %}
        <div class="row tag-list">
            <div class="tags col col-6">
                {% for tag in recipe.tags %}
                    <span class="tag badge badge-secondary">{{ tag.name }}</span>
                {% endfor %}
            </div>
            <div class="timesofyear col col-6">
                {% for toy in recipe.timesOfYear %}
                    <span class="timeofyear badge badge-secondary">{{ toy.name }}</span>
                {% endfor %}
            </div>
        </div>
        <hr class="my-4">
        <h2 class="ingredients">{% trans %} Ingredients {% endtrans %}</h2>
        {% if recipe.recipeIngredients.count() %}
            <dl class="row ingredient-list">
                {% for i in recipe.recipeIngredients %}
                    <dt class="col-sm-4">
                        <a href="{{ path('app_ingredient_show', {id: i.ingredient.id}) }}">{{ i.ingredient.name }}</a>
                    </dt>
                    <dd class="col-sm-8">{% if i.note %} <span class="ingredient-note">{{ i.note }}</span>{% endif %}
                    </dd>
                {% endfor %}
            </dl>
        {% else %}
            <div class="alert alert-danger" role="alert">{% trans %} No ingredients defined. {% endtrans %}</div>
        {% endif %}
        <hr class="my-4">
        <h2 class="instructions">{% trans %} Instructions {% endtrans %}</h2>
        {% if recipe.instructions %}
            <div class="container instructions-wrapper mb-4">
                {{ recipe.instructions | markdown_to_html }}
            </div>
        {% else %}
            <div class="alert alert-light" role="alert">{% trans %} No instructions defined. {% endtrans %}</div>
        {% endif %}
        {% if recipe.createdAt %}
            <p>
                <span class="badge badge-secondary float-right">
                    {% trans with {'%createdAt%': recipe.createdAt | localizeddate()} %} Créée le %createdAt% {% endtrans %}
                </span>
            </p>
        {% endif %}
    </div>
{% endblock %}
