<div class="table-responsive grid-wrapper">
    <table class="table table-hover grid">
        <thead class="thead-light">
        <tr>
            {% for header, headerLabel in gridConfig.headers %}
                <th scope="col" class="col-header-{{ header }}">{{ headerLabel | trans }}</th>
            {% endfor %}
            {% if gridConfig.shouldShowActions() %}
                <th scope="col" class="col-header-actions text-right">{% trans %} Actions {% endtrans %}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% if not gridConfig.items %}
            <tr class="no-item-notice">
                <td colspan="{{ gridConfig.headers | length + 1 }}">{% trans %} No item found. {% endtrans %}</td>
            </tr>
        {% endif %}

        {% for row in gridConfig.items %}
            <tr>
                {% for header, headerLabel in gridConfig.headers %}
                    <td class="col-body-{{ header }}">{{ gridConfig.getColumn(header).render(row, header) }}</td>
                {% endfor %}

                {% if gridConfig.shouldShowActions() %}
                    <td class="col-body-actions text-right">
                        {% include '_grid/actions.html.twig' %}
                        </td>
                    {%  endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
