<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('index') }}">
        <img src="{{ asset('build/images/logo.svg') }}" id="navbar-logo" alt="Logo">
        Reciphpes!
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_recipe') }}"><i
                            class="fas fa-pizza-slice"></i>&nbsp;{% trans %} Recipes {% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_ingredient') }}"><i
                            class="fas fa-carrot"></i>&nbsp;{% trans %} Ingredients {% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_location') }}"><i
                            class="fas fa-book"></i>&nbsp;{% trans %} Locations {% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_tag') }}"><i
                            class="fas fa-tag"></i>&nbsp;{% trans %} Tags {% endtrans %}</a>
            </li>
        </ul>
        <div>
            <ul class="navbar-nav mr-auto">
                {% if access_manager.isRestrictedAccessEnabled() %}
                    {% if not access_manager.isSignedIn() %}
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary mr-sm-2" href="{{ path('signin') }}"><i
                                        class="fas fa-sign-in-alt"></i>&nbsp;{% trans %} Sign In {% endtrans %}</a>
                        </li>
                    {% endif %}
                    {% if access_manager.hasWriteAccess() %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-plus-circle"></i>&nbsp;{% trans %} New... {% endtrans %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('app_recipe_new') }}"><i
                                            class="fas fa-pizza-slice"></i>&nbsp;{% trans %} Recipe {% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('app_ingredient_new') }}"><i
                                            class="fas fa-carrot"></i>&nbsp;{% trans %} Ingredient {% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('app_location_new') }}"><i
                                            class="fas fa-book"></i>&nbsp;{% trans %} Location {% endtrans %}</a>

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="{{ path('app_recipe_masscreate') }}"><i
                                            class="fas fa-pizza-slice"></i>&nbsp;{% trans %} Recipe (batch) {% endtrans %}
                                </a>
                            </div>
                        </li>
                    {% endif %}
                {% endif %}
                <li>
                    <form class="form-inline my-2 my-lg-0" action="{{ path('app_search_results') }}" method="get">
                        <input class="form-control mr-sm-2" type="search"
                               placeholder="{% trans %} Search {% endtrans %}"
                               aria-label="Rechercher" name="q">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i
                                    class="fas fa-search"></i>&nbsp;{% trans %} Search {% endtrans %}
                        </button>
                    </form>
                </li>
                {% if access_manager.isRestrictedAccessEnabled() %}
                    {% if access_manager.isSignedIn() %}
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary mx-sm-2" href="{{ path('signout') }}">
                                <i class="fas fa-sign-out-alt"></i>
                                <span class="d-sm-inline d-md-none">&nbsp;{% trans %} Sign Out {% endtrans %}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
