{% extends 'content.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <img src="{{ asset('build/images/logo.svg') }}" id="home-logo" alt="Logo" class="float-left">
        <h1 class="display-4">Reciphpes!</h1>
        <p class="lead">{% trans %} Welcome {% endtrans %}&nbsp;<i class="far fa-smile-beam"></i></p>
        <hr class="my-4">
        <div style="text-align: center">
            <a class="btn btn-primary btn-lg" href="{{ path('app_recipe') }}" role="button"><i
                        class="fa fa-pizza-slice"></i>&nbsp;{% trans %} View all %recipeCount% recipes {% endtrans %}
            </a>
        </div>
        {% if todaysRecipe %}
            <hr class="my-4">
            <h2 class="text-center">{% trans %} Today's Recipe {% endtrans %}</h2>
            <div id="random-recipe">
                <h3><a href="{{ path('app_recipe_show', {id: todaysRecipe.id}) }}">{{ todaysRecipe.name }}</a></h3>
                <div class="row">
                    <div class="tag-list col-md-3">
                        <div class="tags">
                            {% for tag in todaysRecipe.tags %}
                                <div class="tag-wrapper text-center">
                                    <div class="tag badge badge-secondary">{{ tag.name }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if todaysRecipe.recipeIngredients.count() %}
                        <dl class="ingredient-list col-md-9">
                            {% for i in todaysRecipe.recipeIngredients %}
                                <dt class="col-sm-12">{{ i.ingredient.name }}</dt>
                            {% endfor %}
                        </dl>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% if latestRecipes %}
            <hr class="my-4">
            <h2 class="text-center">{% trans %} Latest Added Recipes {% endtrans %}</h2>
            <div id="latest-recipes">
                <ul>
                    {% for recipe in latestRecipes %}
                        <li><a href="{{ path('app_recipe_show', {id: recipe.id}) }}">{{ recipe.name }}</a>
                            {% for tag in recipe.tags %}<span
                                    class="tag badge badge-secondary">{{ tag.name }}</span> {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
